<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="PetDBEntities" connectionString="metadata=res://*/PetDB-Model.csdl|res://*/PetDB-Model.ssdl|res://*/PetDB-Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Navarrete;initial catalog=PetDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetDBContext" connectionString="metadata=res://*/PetDB_Model.csdl|res://*/PetDB_Model.ssdl|res://*/PetDB_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Navarrete;initial catalog=PetDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>